!!!
%html
%head
	%title senp41's Rails Forum
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
	%link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato:400,700,900", type: "text/css" }
	%link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"}
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	= csrf_meta_tags 
%body
	%header.main_header.clearfix
		.wrapper
			#logo
				%p senp41's Rails Forum
			#buttons
				= link_to "New post", new_post_path
	.wrapper
		%p.notice= notice
		%p.alert= alert

	.wrapper
		= yield

